@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #232323;
  z-index: 100;
}

.sidebar .user-details {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  /* top right bottom left */
  padding: 33px 10px;
  border-bottom: 2px solid gray;
}

.sidebar .user-details i {
  font-size: 60px;
  color: #fff;
  height: 50px;
  min-width: 80px;
  text-align: center;
  line-height: 50px;
}

.sidebar .user-details #username {
  font-size: 22px;
  color: #fff;
  line-height: 22px;
}

.sidebar .nav-links {
  height: 100%;
  padding-top: 20px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0px;
}
.active {
  background: #363434;
}
.sidebar .nav-links li a:hover {
  background: #363434;
}

.sidebar .logout {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: inherit;
  max-width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 22px;
  border-top: 2px solid gray;
}

.sidebar .logout i {
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.sidebar .logout span {
  margin: 0px 40px;
}
.sidebar .logout:hover {
  background: #363434;
}

.main {
  position: relative;
  background: rebeccapurple;
  left: 260px;
  width: calc(100% - 260px);
  height: 100vh;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.main > div {
  background: #fff;
  height: 100%;
  width: 100%;
}
.button {
  display: flex;
  height: 30px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #008168;
}

.button:active {
  background: #006e58;
}

.button span,
.button i {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  color: #fff;
  height: 100%;
}

.button i {
  font-size: 1.3em;
  background: rgba(0, 0, 0, 0.08);
}
.editBtn {
  padding: 1px 6px;
  background: #fff;
  color: #239dc5;
  border: 2px solid #239dc5;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}
.editBtn:hover {
  background: #239dc5;
  color: #fff;
}
.removeBtn {
  padding: 1px 6px;

  background: #fff;
  color: #ef476f;
  border: 2px solid #ef476f;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 550;
}
.removeBtn:hover {
  background: #ef476f;
  color: #fff;
}
.addBtn {
  padding: 2px 10px;
  background: #fff;
  color: #e9972c;
  border: 2px solid #e9972c;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 550;
}
.addBtn:hover {
  background: #e9972c;
  color: #fff;
}
.faculty{
  overflow: auto;
}
.faculty::-webkit-scrollbar {
  display: none;
}
.faculty .container,.students .container{
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.faculty .container .header,.students .container .header{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  /* background: pink; */
  padding: 20px;
}
.students .container .header{
  justify-content: center;
}
.faculty .container .header div, .students .container .header div {
  font-size: 30px;
  font-weight: 800;
}
.faculty .container .data ,.students .container .data{
  padding: 10px;
  width: 100%;
  height: calc(100% - 60px);
}
.faculty .container .data .search-bar, .students .container .data .search-bar {
  width: 100%;
  height: 50px;
  /* background:rgba(0, 0, 0, 1); */
}
.faculty .container .data .search-bar #search, .students .container .data .search-bar #search {
  height: 100%;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid rgb(180, 180, 180);
  padding: 6px;
  font-size: 15px;
  outline: none;
}
.faculty .container .data .search-bar #search:focus,.students .container .data .search-bar #search:focus  {
  border-bottom: 2px solid #006e58;
}
.faculty .container .data table,.students .container .data table  {
  width: 100%;
  height: calc(100% - 160px);
  text-align: left;
  border-collapse: collapse;
}
.faculty .container .data table tr, .students .container .data table tr {
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  border-top: none;
  height: 45px;
}
.faculty .container .data table tr td,
.faculty .container .data table tr th ,
.students .container .data table tr td,
.students .container .data table tr th{
  padding: 5px;
}

.faculty .container .data .pages,
.students .container .data .pages {
  width: 100%;
  height: 50px;
  /* background: rgba(13, 202, 114, 1); */
  font-size: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 15px;
  border: 1px solid rgb(180, 180, 180);
  border-top: none;
  position: relative;
}

.select-menu {
  /* width: fit-content; */
  margin: 0;
  display: inline-block;
}
.select-menu span{
  margin: 0px auto;
}
.select-menu .select-btn {
  position: relative;
  display: flex;
  height: 40px;
  background: #fff;
  /* padding: 6px; */
  font-size: 15px;
  font-weight: 200;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
.select-btn i {
  font-size: 1.3em;
  transition: 0.3s;
  padding: 5px;
  border-radius: 0px 2px 0px 2px;
}
.select-btn .sBtn-text {
  margin: 5px;
  /* width: 113px; */
}
.active2 {
  background: none;
}
.select-menu.active2 .select-btn i {
  transform: rotate(-180deg);
}
.select-menu .options {
  width: fit-content;
  position: absolute;
  top: 40px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-menu.active2 .options {
  display: inline-block;
}
.options .option {
  display: flex;
  height: 30px;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 2px;
  align-items: center;
  background: #fff;
}
.options .option:hover {
  background: #e9e9e9;
}
.option i {
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text {
  font-size: 15px;
  color: #333;
}
.options .selected {
  background: #e9e9e9;
}
.pages .nav {
  font-size: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.data table td:nth-child(2) {
  cursor: pointer;
}
.container .card-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #0000002f;
  display: none;
}
.container .card-background .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 70%;
  background: #333837;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 4px;
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) auto;
  gap: 8px;
  align-items: baseline;
  grid-auto-rows: minmax(fit-content(100%), 20px);
  font-size: 18px;
  padding: 5px;
  padding-top: 15px;
  border: 2px solid rgb(216, 216, 216);
  color: #fff;
}
.container .card-background .card i {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  font-size: 30px;
  color: #fff;
}
.container .card-background .card i:hover{
  color:#f3a8a8;
}
.container .card span:nth-child(even) {
  padding-left: 10px;
}
.container .card-background2 ,.container .card-background4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #0000002f;
  display: none;
}
.container .card-background2 .card ,.container .card-background4 .card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 70%;
  background: #333837;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 4px;
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) auto;
  gap: 8px;
  align-items: baseline;
  grid-auto-rows: minmax(fit-content(100%), 20px);
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  border: 2px solid rgb(216, 216, 216);
  color: #fff;
}
.container .card-background2 .card i,.container .card-background4 .card i {
  position: absolute;
  right: 0;
  top: -5px;
  padding: 5px;
  font-size: 25px;
  color: #fff;
}
.container .card-background2 .card span:nth-child(even),.card ,.container .card-background4 .card span:nth-child(even) {
  padding-left: 10px;
}
textarea{
  resize: none;
  overflow: hidden;
}
.container .card-background2 input, textarea,.card ,.container .card-background4 .card input{
  outline: none;
  padding: 2px;
  padding-left: 5px;
}
.card-background2 .card div, .card-background4 .card div  {
  grid-column: 1/4;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-background2 .card div .saveBtn,.card-background4 .card div .saveBtn {
  padding: 1px 6px;
  background: #239dc5;
  color: #fff;
  border: 2px solid #239dc5;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}

.card-background2 .card div .saveBtn:hover,.card-background4 .card div .saveBtn:hover {
  background: #072f3b;
  color: #fff;
}
.card-background2 .card div .closeBtn,.card-background4 .card div .closeBtn  {
  padding: 1px 6px;
  background: #ef476f;
  color: #fff;
  border: 2px solid #ef476f;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}

.card-background2 .card div .closeBtn:hover,.card-background4 .card div .closeBtn:hover {
  background: #7e031f;
  color: #fff;
}
.container .card-background3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #0000002f;
  display: none;
}
.container .card-background3 .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 60%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.container .card-background3 .card > * {
  margin: 5px 0px;
}
.container .card-background3 .card i{
  position: relative;
  font-size: 35px;
  color: #d90429;
  border-radius: 430%;  
  background:rgba(255, 163, 163, 0.486);
  padding: 7px;
}
.container .card-background3 .card .removeBtn{
  padding: 1px 6px;
  background: #ef233c;
  color: #fff;
  border: 2px solid #ef233c;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  width: 80%;
  height: 40px;
}
.container .card-background3 .card .removeBtn:hover{
  background: #d81128;
}
.container .card-background3 .card .cancelBtn{
  padding: 1px 6px;
  background: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  width: 80%;
  height: 40px;
}
.container .card-background3 .card .cancelBtn:hover{
  background-color: #f0f0f0;
}


.toggle-sidebar{
  font-size: 1.4rem;
  background-color: #4b49ac;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  position: fixed;
  top: 22px;
  left: 260px;
  z-index: 2;
  height: 1.4rem;
  padding: 0px;
  line-height: 1.1;
  width: calc(1.4rem - 2px);
}
.toggle-sidebar > i{
  transition: 0.3s;
  transform: rotate(-180deg);
  translate: -2px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#success-msg{
  background: #DEF1D8;
  color: green;
  padding: 10px;
  margin: 10px;
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}
#error-msg{
  background: #EFDCDD;
  color: red;
  padding: 10px;
  margin: 10px;
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}
#table-data{
  border-left: 1px solid rgb(180, 180, 180);
  border-right: 1px solid rgb(180, 180, 180);
}
#table-data h1{
  display: inline-block;
  margin: 10px;
 
}
.card-background input,.card-background textarea{
  background: transparent;
  color: #fff;
  border: none;
  font-size: 0.9rem;

  resize: none;
  overflow: hidden;

}
.card-background input[type="date"]::-webkit-inner-spin-button,
.card-background input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.disable{
  color:gray;
}
.container{
  height: 100%;
}