@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.1;
}

.sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #fff;
  padding: 0px 10px;
  box-shadow: 0 20px 25px 5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sidebar .user-details {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  /* top right bottom left */
  padding: 33px 10px;
  border-bottom: 2px solid gray;
}

.sidebar .user-details i {
  font-size: 60px;
  color: #000000;
  height: 50px;
  min-width: 80px;
  text-align: center;
  line-height: 50px;
}

.sidebar .user-details .user-name {
  font-size: 22px;
  color: #000000;
  line-height: 22px;
}

.sidebar .nav-links {
  height: 100%;
  padding-top: 20px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  margin: 5px 0px;
}

.sidebar > .nav-links > li > a {
  transition: color 0.3s, background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  padding: 10px 0px;
}
.active {
  background: #4b49ac;
  color: #ffffff;
  border-radius: 7px;
}
.sidebar .nav-links .active a {
  color: #fff;
}
.sidebar .nav-links li a:hover {
  background: #6260df81;
  border-radius: 7px;
  transition: color 0.3s, background 0.3s;
}

.sidebar .logout {
  position: fixed;
  bottom: 6px;
  left: 1px;
  height: 50px;
  width: inherit;
  max-width: inherit;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;
}
.sidebar .logout div {
  width: 100%;
  font-size: 22px;
  border-top: 2px solid gray;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar .logout i {
  font-size: 35px;
  color: #000000;
  text-align: center;
  line-height: 50px;
}
.sidebar .logout span {
  margin: 0px auto;
}
.sidebar .logout div:hover {
  background: #6260df81;
  border-radius: 7px;
  border-color: #fff;
}

.main {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  height: 100vh;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.main > div {
  background: #fff;
  height: 100%;
  width: 100%;
}
.button {
  display: flex;
  height: 30px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #008168;
}

.button:active {
  background: #006e58;
}

.button span,
.button i {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  color: #fff;
  height: 100%;
}

.button i {
  font-size: 1.3em;
  background: rgba(0, 0, 0, 0.08);
}
.editBtn {
  padding: 1px 6px;
  background: #fff;
  color: #239dc5;
  border: 2px solid #239dc5;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}
.editBtn:hover {
  background: #239dc5;
  color: #fff;
}
.removeBtn {
  padding: 1px 6px;

  background: #fff;
  color: #ef476f;
  border: 2px solid #ef476f;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 550;
}
.removeBtn:hover {
  background: #f13854;
  color: #fff;
}
.Btn,
.addBtn {
  padding: 2px 10px;
  background: #fff;
  color: #e9972c;
  border: 2px solid #e9972c;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 550;
}
.Btn:hover,
.addBtn:hover {
  background: #e9972c;
  color: #fff;
}

.attendance .data table,
.attendanceDetails table {
  width: 100%;
  height: calc(100% - 160px);
  text-align: left;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid gray;
}

.attendance > .data table tr,
.attendanceDetails table tr {
  border: 1px solid rgb(180, 180, 180);
  border-top: none;
  height: 45px;
}

.attendance > .data table tr td,
.attendance > .data tr th,
.attendanceDetails table tr td,
.attendanceDetails table tr th {
  padding: 5px;
  height: 45px;
}

.data table td:nth-child(2) {
  cursor: pointer;
}

metable {
  overflow: auto;
}
.timetable {
  overflow: auto;
}
.timetable::-webkit-scrollbar,
.timetable > .takeAttendance::-webkit-scrollbar {
  display: none;
}
.timetable > .content {
  width: 100%;
  background: rgb(226, 195, 255);
  padding: 20px;
}
.timetable .content #table-data > table {
  width: 100%;
  border-collapse: collapse;
}
.timetable .content #table-data > table thead {
  height: 50px;
  background: #ffffff;
}
.timetable .content #table-data > table thead tr th {
  width: 14%;
}
.timetable > .content #table-data > table thead tr th button.selected {
  padding: 1px 6px;
  background: #ef476f;
  color: #fff;
  border: 2px solid #ef476f;
  border-radius: 18px;
  font-size: 15px;
  font-weight: 500;
  width: 60%;
  height: 35px;
  margin: 5px 0px;
}
.timetable .content #table-data > table thead tr th button {
  padding: 1px 6px;
  border: none;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
  width: 60%;
  height: 35px;
  margin: 5px 0px;
}
.timetable .content #table-data > table thead tr th:first-child {
  background: none;
  width: 10%;
}
.timetable .content #table-data > table tbody {
  background: #8d74eb;
}
.timetable .content #table-data > table tbody tr {
  height: 100px;
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  vertical-align: top;
  text-align: right;
}
.timetable .content #table-data > table tbody tr td {
  padding: 0px 5px;
  height: inherit;
}
.timetable .content #table-data > table tbody tr td:nth-child(1) {
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
}
.timetable
  .content
  #table-data
  > table
  tbody
  tr
  td:nth-child(1)
  span:nth-child(1) {
  margin-top: 4px;
  width: 100%;
  margin-bottom: calc((50% - (15px * 1.1)));
  font-size: 15px;
}
.timetable
  .content
  #table-data
  > table
  tbody
  tr
  td:nth-child(1)
  span:nth-child(2) {
  width: 100%;
  margin-bottom: calc(50% - (12px * 1.1));
  font-size: 12px;
}
.timetable
  .content
  #table-data
  > table
  tbody
  tr
  td:nth-child(1)
  span:nth-child(2) {
  font-size: 12px;
}

.timetable .content #table-data > table tbody tr td div {
  background: red;
  color: #fff;
  height: 100%;
  font-size: 0.9rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}
.timetable .content #table-data > table tbody tr:nth-child(1) td div {
  margin-top: 4px;
}

.attendance .data table tbody tr td,
.attendanceDetails table tbody tr td {
  display: table-cell;
}
.attendance > .data > table tbody tr td i {
  font-size: 1.5rem;
}
.toggle-sidebar {
  font-size: 1.4rem;
  background-color: #4b49ac;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  position: fixed;
  top: 22px;
  left: 260px;
  z-index: 2;
  height: 1.4rem;
  padding: 0px;
  width: calc(1.4rem - 2px);
}
.toggle-sidebar > i {
  transition: 0.3s;
  transform: rotate(-180deg);
  translate: -2px 0;
}

.attendance .endSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.attendance .endSection #reportBtn {
  margin: 10px 0px;
  padding: 1px 8px;
}
.attendance .header,
.attendanceDetails .header {
  padding-left: 40px !important;
}
.attendance .header .info {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) auto;
  gap: 8px;
  align-items: baseline;
  grid-auto-rows: minmax(fit-content(100%), 20px);
  padding: 20px;
  font-size: 1.1rem;
  z-index: 1;
}
.attendance .data {
  padding: 10px;
  width: 100%;
  height: fit-content;
}
.attendanceDetails {
  display: none;
  position: absolute;
  top: 0;
  background: #fff;
  height: 100%;
  width: 100%;
}
.attendanceDetails #table-data {
  padding: 10px;
}

.attendanceDetails .header .info {
  display: grid;
  grid-template-columns:
    fit-content(100%) fit-content(100%) auto fit-content(100%)
    fit-content(100%) auto;
  gap: 8px;
  align-items: baseline;
  grid-auto-rows: minmax(fit-content(100%), 20px);
}

.attendanceDetails .header #close {
  font-size: 1.8rem;
  background: transparent;
  position: sticky;
  top: 0;
  left: calc(100% - (1.8rem + 16px));
  padding: 8px;
  float: right;
  z-index: 5;
}
.attendanceDetails .header #close:hover {
  color: #f13854;
}

.attendanceDetails table tbody tr td .remark {
  padding: 4px 12px;
  width: 35px;
  border-radius: 3px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.attendanceDetails table tbody tr .remark[data-value="A"] {
  background-color: #e71f4d;
}
.attendanceDetails table tbody tr .remark[data-value="P"] {
  background-color: #25df6f;
}
.timetable .card-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #0000002f;
  display: none;
}
.timetable .card-background .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: fit-content;
  /* height: 70%; */
  background: #333837;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 4px;
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) auto;
  gap: 8px;
  align-items: baseline;
  grid-auto-rows: minmax(fit-content(100%), 20px);
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  border: 2px solid rgb(216, 216, 216);
  color: #fff;
  overflow: hidden;
  overflow-y: auto;
}
.timetable .card-background .card {
  grid-gap: 25px !important;
  height: fit-content !important;
  grid-template-columns: auto auto auto !important;
  display: grid;
  padding-top: 25px;
  padding-bottom: 20px;
}

.timetable .card-background .card i {
  position: absolute;
  top: 0;
  right: 0;
  left: unset;
  padding: 8px;
  font-size: 33px;
  color: #fff;
}
.timetable .card-background .card i:hover {
  color: #f13854;
}
.leaves .container {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) auto;
  gap: 8px;
  align-items: baseline;
  padding: 20px;
  font-size: 1.1rem;
  padding-left: 40px;
  margin: 0 auto;
  width: 70%;
  justify-content: center;
  display: none;
}
.leaves .container input,
.leaves .container textarea {
  padding: 0px 5px;
}
.leaves .container div {
  grid-column: span 3;
}
.leaves .container div button {
  margin: 20px;
}
.leaves .data {
  width: 100%;
  height: fit-content;
}
#success-msg {
  background: #def1d8;
  color: green;
  padding: 10px;
  margin: 10px;
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}
#error-msg {
  background: #efdcdd;
  color: red;
  padding: 10px;
  margin: 10px;
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}
.leaves .data .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 20px;
  padding-left: 40px;
}
.leaves .data .header span {
  font-size: 1.5rem;
  font-weight: 500;
}
.leaves .data #table-data {
  width: 100%;
  height: fit-content;
  padding: 20px;
}
.leaves .data #table-data table {
  width: 100%;
  height: calc(100% - 160px);
  text-align: left;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid gray;
}
.leaves .data #table-data table tr {
  border: 1px solid rgb(180, 180, 180);
  border-top: none;
  height: 45px;
}
.leaves .data .header button {
  padding: 2px 10px;
  background: #fff;
  color: #e9972c;
  border: 2px solid #e9972c;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 550;
}
.leaves .data .header button:hover {
  background: #e9972c;
  color: #fff;
}
